@import "~bootstrap/scss/bootstrap.scss";

.cajita {
    background: rgb(34, 34, 34);
    width: 140px;
    height: 140px;
    border-radius: 10%;
    color: white
}

.tablero {
    background: rgb(41, 43, 44);
}

body {
    background: rgb(41, 43, 44);
}

.texto{
    color: white;
}

.marcas {
    font-size: 100px;
}